* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$corDeFundo: #040714;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;

body {
  background-color: $corDeFundo;
  font-family: 'Arial', sans-serif;
  color: white;
}

@mixin text($fontSize: 16px) {
  font-size: $fontSize;
  line-height: $fontSize + 10px;
  color: $corTextoPrincipal;
}

@mixin title($fontSize: 40px) {
  @include text($fontSize);
  color: $corTextoSecundario;
}

.text--big {
  @include text(18px);
  // color: $corTextoPrincipal;
}

.text {
  @include text;
}

.text--small {
  @include text(12px);
  // color: $corTextoSecundario;
}

.link-text {
  @include text(18px);
  color: $corTextoSecundario;
  text-decoration: underline;
  cursor: pointer;
}

.title--big {
  @include title(44px);
}
